#clockContainer{
    position:relative;
    margin:auto;
    background-color: 2 px solid red;
    height: 40vw;
    width: 40vw;
    background: url(images/clock_dial.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 0.8%;
    height: 25%;
    top: 25%;
    left: 49.8%;
    opacity: 2;
}
#minute{
    width: 0.5%;
    height: 28%;
    top: 22%;
    left: 49.85%;
    opacity: 1;
}
#second{
    width: 0.3%;
    height: 30%;
    top: 20%;
    left: 49.8%;
    opacity: 0.6;
}